@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="card-body">
        <div class="text-center">
            <h1 class="display-4">Welcome</h1>
            <h1>@ViewBag.Greetings Everyone!</h1>
            <h3>We're going to have an exciting party and request the honor of your presence.</h3>
            <a class="btn btn-primary" asp-action="RsvpForm">RSVP Now</a>
        </div>    
    </div>
</body>
</html>
